<div class="input-container">
    <input class="todo-input" type="text" ng-model="$ctrl.title" placeholder="Write your TODO here" autofocus>

    <input class="todo-add-button" type="button" ng-click="$ctrl.getTitle($ctrl.title)" value="Ok">

</div>