/* Reset CSS */

* {
    margin: 0;
    padding: 0;    
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: #669966;
    background-color: #CCFF99;
    text-align: center;
    height: 100vh;
}

.app-name {
    font-size: 2em;
    padding: 20px;
}

.input-container {
    position: relative;
    width: 70%;
    margin: auto;
}

.todo-input {
    font-size: 1.3em;
    color: #669966;
    padding: 10px;
    line-height: 1.6em;
    margin: 20px;
    border: none;
    background-color: #CCFF99;
    width: 400px;
    box-sizing: border-box;
}

.todo-input:focus {
    outline: none;
    border-bottom: 2px solid #669966; 
}

.todo-add-button {
    position: absolute;
    margin: 20px;
    padding: 10px;
    line-height: 1.6em;
    background-color: #CCFF99;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    color: #669966;
    border: 1px solid #669966;
    border-radius: 10px;
}

.todo-add-button:focus {
    outline: none;
    box-shadow: 2px darkslategrey;
}

.todo-list-container {
    padding-top: 30px;
    margin: auto;
    width: 70%;
}

.todo-list-entry {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.6em;
    height: 100%;
    width: 400px;
    padding: 10px 20px;
    border-bottom: 1px solid #669966;
    text-align: left;
}

/* TODO make custom checkbox */
.todo-complete-checkbox {
    float: left;
    margin: 0px 10px;
    line-height: 1.6em;
    border: 1px solid #669966;
    border-radius: 10px;
    color: #669966;
    font-size: 1.2em;
}

.todo-remove-button {
    float: right;
    line-height: 1.6em;
    border: 1px solid #669966;
    border-radius: 10px;
    background-color: #CCFF99;
    padding: 3px;
    color: #669966;
    font-size: 1em;
}

