<div class="todo-list-container">
    <ul class="todo-list">
        <li class="todo-list-entry" ng-repeat="todo in $ctrl.showTodo()">

            <input class="todo-complete-checkbox" type="checkbox" name="completed" ng-click="$ctrl.complete($index)"> {{ todo.title }}

            <button class="todo-remove-button" ng-click="$ctrl.removeTodo($index)">
                Remove</button>
        </li>
    </ul>
</div>